body.theme-light {
  color: #666e79;
  ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
  }

  ::-webkit-scrollbar-track-piece {
      background-color: rgba(171, 185, 181, 0.2);
      -webkit-border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:vertical {
      height: 7px;
      background-color: rgba(171, 185, 181, 0.8);
      -webkit-border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:horizontal {
      width: 7px;
      background-color: rgba(171, 185, 181, 0.8);
      -webkit-border-radius: 6px;
  }
  
  /* input */
  .ivu-input {
    padding: 0 5px;
    font-size: 12px;
    border-radius: 2px;
  }
  /* selection */
  .ivu-select {
    &.ivu-select-multiple {
      max-width: 100%;
      width: auto;
    }
    .ivu-select-selection {
      border-radius: 2px;
    }
    &.ivu-select-multiple .ivu-select-input {
      height: auto;
      line-height: inherit;  
    }
  }
  .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
    z-index: 2;
  }
  .ivu-menu-vertical.ivu-menu-light:after {
    background: none;
  }
  .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after {
    left: 0;  
    right: auto;
  }
  .ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title {
    padding: 10px 24px 10px 10px;
  }

  /* breadcrumb */
  .ivu-breadcrumb {
      font-size: 14px;
      .ivu-breadcrumb-item-separator {
        margin: 0 5px;
      }
  }
  .ivu-breadcrumb a {
    font-weight: 400;
    font-size: 14px;
  }
  .ivu-breadcrumb > span:last-child, .ivu-breadcrumb > span:last-child a {
      font-size: 14px;
  }

  .ivu-table {
    background: none;
    table {
      border-left: 1px solid #e4e7eb;
      border-right: 1px solid #e4e7eb;
    }
  }
  /* table */
  .ivu-table-wrapper {
    border: none;  
  }
  .ivu-table-fixed::before, .ivu-table-fixed-right::before {
    height: 0px;
    width: 0px;
  }
  .ivu-table:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: none;
    z-index: 1;
  }
  .ivu-table:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: none;
    z-index: 1;
  }
  .ivu-table th {
    height: 42px;
    color: #6c7480;
    border-top: 1px solid #e4e7eb;
    border-bottom: 1px solid #e4e7eb;
    background: #c4cfe6;
  }
  .ivu-table td {
  }
  tr.ivu-table-row-hover td {
  }
  
  .ivu-dropdown {
    a {
      color: #5dbbff;
    }
  }

  /** tooltip **/
  .ivu-tooltip-popper {
    .ivu-tooltip-content {
      .ivu-tooltip-inner {
        max-width: 400px;
      }
    }
  }
  .ivu-select-dropdown {
    border-radius: 2px;
    .ivu-select-item {
      font-size: 12px;
    }
    .ivu-select-item-focus {
      font-weight: bold;
    }
  }

  .column-select{
    width: 360px;
    padding: 5px;
    max-height: 312px;
    overflow-y: auto;
    .title {
      display: inline-block;
      padding: 10px 0 3px 0px;
      font-size: 12px;
      font-weight: bold;
      &:first-child {
        padding-top: 0px;  
      }
    }
    .line {
      height: 1px;
      margin: 5px 0;
    }
    .ivu-checkbox-group {
      .ivu-col {
        padding: 3px 0;  
      }
    }
  }
  
}
