.chart-content {
  margin-right: 300px;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size:10px; 
  font-family:sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}

.node circle {
  stroke-width: 1.5px;
}

.node {
  font: 11px sans-serif;
}

.node.notFound {
/* not using opaciy to avoid conflicts when reverting related node filter */
fill: #ddd;
}

.node.notFound circle {
stroke: #ddd!important;
fill: #ddd!important;
}

.link {
  fill: none;
  stroke: #ddd;
  stroke-width: 1.5px;
}

.panel-action {
  padding: 5px;
  text-align: center;
}

.details {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 280px;
}

.details ul {
  padding: 0 20px;
}

.details ul li {
  margin-left: 0px;
}

.panel-heading input {
  margin: -7px -12px;
}

.properties input {
  border: 1px solid #CCC;
  border-radius: 4px;
}

.properties.edit ul {
  list-style-type: none;
  padding: 0;
}

.properties.edit ul ul {
  margin: 0 0 8px 8px;
}

.properties.edit .glyphicon {
  font-size: 12px;
  color: #bce8f1;    
}

.properties.edit .remove {
  float: left;
  margin-right: 5px;
}
.properties.edit li .remove {
  top: 5px;
}

.filters {
position: fixed;
top: 10px;
left: 10px;
width: 200px;  
}

.filters .btn {
margin: 1px;
line-height: 1.3;
}

.json-upate-label {
  padding: 15px;
  border-radius: 10px 10px 0 0;
}

.json-upate-label a {
  cursor: pointer;
}

#json-data {
  font-size: 12px;
  font-family: monospace;
  width: 100%;
  height: 250px;
}

#node-active {
  font-size: 14px;
  font-weight: bold;
}
#node-active text {
  fill: rgb(70, 130, 180);
}

#graph {
  width: 960px;
  margin: auto;
}

/* tree-tool-tip */
.tree-tool-tip {
  position: fixed;
  opacity: 0;
  top: -100px;
  left: -100px;
  line-height: 1;
  font-weight: bold;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.8);
  color: #eee;
  border-radius: 4px;
  z-index: 999;
}
.tree-tool-tip ul{
  display:  block;
  list-style: none;
  padding-left: 0px;
  font-size: 12px;
  margin-bottom: 0px;
}
.tree-tool-tip ul li:hover {
  background: #eee;
  color: green;
}
.tree-tool-tip ul li {
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  cursor: pointer;
}
