mixin ConfigCommon(iConfig)
  -
    /** @type {string} zh-cmn-hans, en-us */
    config.lang =  iConfig.lang

    /** @type {string} en-us, zh-cmn-hans */
    config.langAlt =  iConfig.langAlt

    /** @type {string} html-demo offical website */
    config.siteName = iConfig.siteName
