mixin ConfigPage(iConfig)
  -
    /**
    * main category name of navigation bar
    * @type {string}
    */
    config.category = iConfig.category

    /** @type {string} Lorem */
    config.title = iConfig.title

    /** @type {string} short title, used on small screen's navbar */
    config.shortTitle = iConfig.shortTitle


    /** @type {string} Ipsum */
    config.description = iConfig.description

    /** @type {Array<String>} ['Lorem', 'ipsum', 'dolor'] */
    config.keywords = iConfig.keywords

    /** @type {string} https://html-demo.org/whatever */
    config.URL = iConfig.URL

    /** @type {string} Optional https://html-demo.org/whatever.png */
    config.imageURL = iConfig.imageURL
